[submodule "themes/KeepIt"]
	path = themes/KeepIt
	url = https://github.com/Fastbyte01/KeepIt.git
[submodule "themes/lynx"]
	path = themes/lynx
	url = https://github.com/jpanther/lynx.git
[submodule "themes/piko"]
	path = themes/piko
	url = https://github.com/heksagonnet/piko.git
[submodule "themes/minimal_marketing"]
	path = themes/minimal_marketing
	url = https://github.com/letItCurl/minimal_marketing.git
