.link-font-awesome {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.link-loja {
  /* background: rgb(54, 51, 189); */
  background: linear-gradient(
    90deg,
    /* #CB2700 0%, */
    #03C3F2 0%,
    #5a07d0 100%
  );
}

.link-mentoria {
  color: #020929;
  background: #60bdf8;
  font-weight: bold;
}

h2 {
  margin-top: 1em !important;
}

.btn {
  background: #0097ff;
  color: white;
}

.btn a:hover {
  background: #004d80;
}

iframe[title="YouTube Video"], div ~ h1 {
  margin-top: 1em !important;
}

.link-anchorfm {
  background: #5000b9;
}

.link-anchorfm svg {
  color: white;
}

.link-spotify {
  background: linear-gradient(
    90deg,
    #1ed660,
    #086e2d
  );
}

.link-youtube {
  background: linear-gradient(
    90deg,
    #ff0000,
    #b60303
  );
}

.link-podcast {
  background: linear-gradient(
    180deg,
    #d576f9,
    #872ac3
  );
}


:root {
  --green1: #70C2DB;
  --green2: #9bffff;
  --blue1: #03061F;
  --blue2:#0B1756;
  --blue3:#0F2F7D;
  --blue4: #3976DB;
  --blue5: #79bffe;
  font-family:'IBM Plex Sans', Tahoma, Geneva, Verdana, sans-serif}
.dark\:bg-neutral-800 {
  /* background-color: #0043ce;  */
  /* background-color: #002D9C;  */
  /* background-color: #004CE2; var(--blue1); */
  /* background-image: linear-gradient(90deg, rgba(96,189,248,1) 0%, rgba(2,9,41,1) 30%, rgba(2,9,41,1) 70%, rgba(96,189,248,1) 100%); */
  background-image: linear-gradient(90deg, rgba(2,9,41,1) 0%, rgba(96,189,248, 0.3) 100%);

}

.dark\:text-white, .prose > p, .prose > h1, .prose > h2, .prose > h3 {
  color: white;
}

.dark\:text-neutral-400 {
  color: var(--green1);
}

.prose a {
  color: var(--green2);
}

.prose a:hover {
  background-color: var(--green2);
  color: var(--blue4);
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 768px) {
  .prose {
    width: 150%;
  }
}

.icon svg{
  fill: white !important;
}

.text-4xl {
  font-size: 3rem;
  line-height: 3.5rem;
}

